<!DOCTYPE html>
<html>
    <head>
        <title>AS Collage</title>
        
            <link href="styles/{{style}}" type="text/css" rel="stylesheet">
        
    </head>
    <body>
        <header>
            <nav>
                <ul class="hiddenInfo">
                    <li class="liEmail">abc@ada.com</li>
                    <li class="liAddress">California, Near Highway, Green Town</li>
                    <li class="liPhone">98888888823</li>
                    <li class="liSite">www.asckhn.com</li>
                </ul>
                <div class="midNav">
                    <img src="imgs/ascollegenew.png">
                </div>
                <div class="lowerNav">
                    <a href="#" class="lowerNavButtons">Home</a>
                    <a href="#" class="lowerNavButtons">About</a>
                    <a href="#" class="lowerNavButtons">Rules</a>
                    <a href="#" class="lowerNavButtons">Courses</a>
                    <a href="#" class="lowerNavButtons">Activities</a>
                    <a href="#" class="lowerNavButtons">Others</a>
                </div>
            </nav>











        </header>
        <main>
            {{{body}}}
        </main>
        <footer>

        </footer>
    </body>
</html>