<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="styles/global.css" type="text/css">
        {{#if style}}
            <link rel="stylesheet" href="styles/{{style}}" type="text/css">
        {{/if}}
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <title>{{title}}</title>
    </head>
    <body>
        {{{body}}}
    </body>
</html>