<div class="imageSlider">
    <div class="image"> 
    <img class="imgToSlide" src="imgs/caspar.jpg">
    </div>
    <div class="image">
    <img class="imgToSlide" src="imgs/claudio.jpg">
    </div>
    <div class="image">
    <img class="imgToSlide" src="imgs/cup.jpg">
    </div>
</div>


<script src="scripts/home.js"></script>
