<main>
    <form method="POST">
        <div class="nameField">    
            <label for="name">Name</label>
            <input type="text" name="name" placeholder="Name">
        </div>
        <div class="pwdField">
            <label for="password">Password</label>
            <input type="password" name="pwd" placeholder="Password">
        </div>
        <input type="submit" class="loginBtn" value="Login">
    </form>
</main>